<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:appComponentFactory="y.c"
        android:name="l.n"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon,UnusedAttribute">

        <provider
            android:name="i.X3"
            android:authorities="${applicationId}.provider"
            android:directBootAware="true"
            android:exported="false"
            android:grantUriPermissions="true" />

        <service
            android:name="y.ji"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="k.E"
            android:exported="false" />

        <receiver
            android:name="uOH.vY4"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.UID_REMOVED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
        
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cjF.z"
            android:directBootAware="true"
            android:exported="false"
            android:taskAffinity=""
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="qpP.X"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
